@mixin round-heading{
  position: -webkit-sticky;
  position: sticky;
  top: 1.5rem;
  background-color: #{nth($colors, 1)};
  padding: 3.5rem 2rem 3.5rem 2rem;
  border-radius: 50%;
  font-size: 1.8rem;
  display: inline-block;
  margin-bottom: 2rem;
  z-index: 2;
  left:5%;

}