@charset "UTF-8";
.css-br::after {
  content: "\A";
  white-space: pre;
}

/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

* {
  box-sizing: border-box;
}

*::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: #707070;
  font-family: YuGothic,'Yu Gothic','Hiragino Sans','ヒラギノ角ゴシック','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic',sans-serif;
  background-color: #FFFFFF;
  font-size: 1.6rem;
}

li {
  list-style: none;
  font-size: 1.8rem;
}

@media screen and (max-width: 767px) {
  body {
    min-width: 320px;
  }
  html, body {
    height: 100%;
    min-height: 100%;
    font-size: 50%;
  }
}

@media print, screen and (min-width: 1192px) {
  body {
    width: 100%;
  }
}

.header {
  width: 1000px;
  height: 90px;
  background-color: #f4ebb8;
  margin: 0 auto;
}

.footer {
  width: 1000px;
  height: 90px;
  background-color: #b3ddb8;
  margin: 0 auto;
}

.main {
  width: 1000px;
  margin: 0 auto;
  display: flex;
}

.main .box1 {
  width: 700px;
  height: 600px;
  background-color: #e8c4c6;
}

.main .box2 {
  width: 300px;
  height: 600px;
  background-color: #b5d3e8;
}
