//ブレイクポイント
$layout-width-inner:1100px;

//メディアクエリ
$mq: (
  'sp': 'screen and (max-width: 767px)',
  'tab': 'print,screen and (max-width: #{$layout-width-inner - 1px})',
  'pc': 'print,screen and (max-width: #{$layout-width-inner})'
) !default;

@mixin mq($breakpoint: sp) {
  @media #{map-get($mq, $breakpoint)} {
    @content;
  }
}

@media print,screen and (min-width: #{$layout-width-inner}){
  body{
    width: 100%;
  }
  
}
.inner{
  max-width: 1180px;
  margin: 0 auto;

  @include mq ("tab"){
    max-width: 95%;
  }
}



//@include mq ('tab'){}



//画像格納ディレクトリ
$imgDir: '/img/';

//PCレイアウト時の最小横幅
$minPcContentWidth: 1000px;

//サイトで使用するカラー

//使用方法 n番目を指定
//#{nth($colors, 1)他
$colors: #FFFFFF,#000000,#252525, #EAEDF2,#6CB8FF,#CACDD1,#B7B9FE,#6BB7FF,#EAEAEA,#4E4E4E,#93D1F0,#A7A7A7,#F9B36B,#b5b5b5,#555555,#C8E4FF,#5CA8F7,#626262,#b7b7b7,#919191,#E0E4EB,#58A9EF;