.footer{
    background-color: #{nth($colors, 22)};
    color: #{nth($colors, 1)};
    text-align: center;
    padding: 5rem 0;
    font-weight: normal;

    &-home{
        margin-bottom: 2rem;
        margin-right: 3rem;
        position: relative;
        transition: all 0.5s;
        pointer-events: none;
            a{
                @include link-cover();
            }
            i{
                padding-right:3%;
            }

    }

    &-terms{
        margin-right: 3rem;
        position: relative;
        transition: all 0.5s;
        pointer-events: none;
            &:hover{
                text-decoration: underline;
            }
            a{
                @include link-cover();
            }
    }

    &-contact{
        position: relative;
        transition: all 0.5s;
        pointer-events: none;
        &:hover{
            text-decoration: underline;
        }
            a{
                @include link-cover();
            }
    }

    &-box{
        margin-bottom: 2rem;
    }


}