.header{
    width: 100%;
    position: relative;
    background-color: #{nth($colors, 5)};
    color: #{nth($colors, 1)};
    box-shadow: 0 0 5px #000;
    

    .inner{
        height: 6rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    &-logo {

        @include mq ('sp'){
            width: 100%;
            text-align: center;
        }

        img{
            width:16rem;
            height: 5rem;

            @include mq ('sp'){
                width: 13.5rem;
                height: 3.5rem;
            }
        }


    }


    &-nav{
        @include mq ('sp'){
            display: none;
        }
    }
        
    &-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

    }

    &-item{

        i{
            margin-right: .5rem;
        }
        font-size: 1.5rem;
        position: relative;
        transition: all 0.5s;
        pointer-events: none;
        padding: 2.2rem 1rem 2.2rem 1rem;

        
            a{
                @include link-cover();

                &:after{
                    transition: all .5s;
                    position: absolute;
                    content: "";
                    border-bottom: solid .4rem #{nth($colors, 1)};
                    display: block;
                    width: 0%;
                    bottom:0;
                
                }

                &:hover::after{
                    border-bottom: solid .4rem #{nth($colors, 1)};
                    width: 100%;
                }
            }

    }



    &-tel{
        @include mq ('sp'){
            display: none;
        }
    }


    &_sp{
        display: none;

        @include mq ('sp'){
            display: block;
            position: absolute;
            right:1rem;
        }
    
        &-check{
            display: none;
        }

        &-icon{
            font-size: 2rem;
        }
        

        
        &-label-bg {
            position: fixed;
            width: 100%;
            height: 100%;
            z-index: 150;
            top: 0;
            left: 0;
            background-color: #{nth($colors, 2)};
            display: none;
            opacity: 0.3;
        }
 
        
        &-item{
            pointer-events: none;
            position: relative;
            font-size: 16px; 
            letter-spacing: 0;
            line-height: (24/16);
            color: #{nth($colors, 4)};
            padding: 5px;
            &:hover{
                opacity: .6;
            }
        
        
            a{
                @include link-cover;
            }


        }
        &-search{
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            display: none;
            z-index: 200;
            font-size: 1.5rem;
            width: 355px;

            &-text{
                font-size: 1.5rem;
                font-weight: normal;
                margin-bottom: .5rem;;
            }
            &-container{
            box-sizing: border-box;



                input[type="text"]{
                background: #{nth($colors, 1)};
                border: none;
                height: 4.5rem;
                border-radius: 2px 0 0 2px;
                width: 86%;
                font-size: 1.8rem;
                padding-left: 1rem;
                }

                input[type="text"]:focus {
                outline: 0;
                }

                input[type="submit"]{
                    cursor: pointer;
                    width: 14%;
                    border: none;
                    background: #{nth($colors, 9)};
                    color: #{nth($colors, 1)};
                    outline : none;
                    height: 4.5rem;
                    margin-left: -5px;
                    border-radius: 0 2px 2px 0;
                
            }

            }

            &-submit{
                position: relative;

                &:after{
                    position: absolute;
                    font-family: "Font Awesome 5 Free";
                    font-weight: 900;
                    content: "\f002"; 
                    left:0;
                    color: #{nth($colors, 10)};
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 2.5rem;
                    pointer-events: none;
                }
            }



        }

    }
}

#header_sp-check:checked ~ .header_sp-search {
    display: block;
  }
  #header_sp-check:checked ~ .header_sp-label-bg {
    display: block;
    opacity: 0.5;
  }







